/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ede5b9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}

input[type="text"] {
    padding: 12px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    background-color: #6a4000;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}





#con1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    padding: 10px;
}




.infoimg {
    background-color: #fdd8ad;
    border: 1px solid #F0BE86;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoimg:hover {
    transform: scale(1.02);
}

.infoimg img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.nameart {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.namepic {
    font-size: 22px;
    font-weight: bold;
    color: #0e7964;
    margin: 5px 0;
}

.desc {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    text-align: justify;
    padding: 10px;
    border-radius: 6px;
}

.price {
    font-size: 18px;
    color: #28a745;
    font-weight: bold;
    margin-top: 5px;
}

#form-section {
    display: none;
    margin-top: 20px;
}

#form-section input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}
